<head id="Head1" runat="server">
    <title></title>
    <link href="stylesheet.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>

<header class="header">
    <div style="color:white">
        <h1>Medical Store  Web Application</h1>
    </div>
</header>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
<footer class="footer">
    <div class="div" style="color:white; height: 34px;">
        This project is made by: <br />
        Ibrar Ali 
    </div>
</footer>
